<!DOCTYPE html>
{#
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
   {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
   #}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Best Body Travel</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('assets/img/BBTL7.png') }}" rel="icon">
    <link href="{{ asset('assets/img/BBTL7.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i') }}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

</head>
<body>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="{{ path('index') }}"><img width="250"
                                                                    src="{{ asset('assets/img/BBTL7.png') }}"
                                                                    alt="BBT"/> </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
                <li><a class="nav-link scrollto" href="#about">Qui sommes nous</a></li>
                <li><a class="nav-link scrollto" href="#services">Nos interventions</a></li>
                <li><a class="nav-link scrollto" href="{{ path('app_devis_new') }}">Devis</a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#gallery">Galerie</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                {# <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                #}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Prendre </span>
            rendez-vous</a>

    </div>
</header>
<!-- End Header -->
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">{{ appEmail }}</a>
            <i class="bi bi-phone"></i>{{ appTel }}
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href={{ facebook }} class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href={{ instagram }} class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% block body %}
{% endblock body %}
</body>
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">

                    <img width="250" src="{{ asset('assets/img/BBTL7.png') }}" alt="BBT"/>
                    <p>
                        <br>
                        <strong>Phone:</strong> {{ appTel }}<br>
                        <strong>Email:</strong> {{ appEmail }} <br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Liens utiles</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="#hero">Accueil</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#about">Qui sommes nous</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#services">Nos interventions</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="{{ path('app_devis_new') }}">Devis</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#faq">FAQ</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#gallery">Galerie</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="#contact">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Nos Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('ChirurgieEsthétique') }}">Chirurgie
                                esthétique</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('ChirurgieObésité') }}">Chirurgie de
                                l'obésité</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('GreffeCheveux') }}">Greffe de
                                cheveux</a></li>
                        {# <li><i class="bx bx-chevron-right"></i> <a href="{{ path('chirurgieOrthopédique') }}">Chirurgie orthopédique</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('neurochirurgie') }}">Neurochirurgie</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{{ path('traitementInfertilité') }}">Traitement de l'infertilité</a></li>
                        #}
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Rejoignez notre newsletter</h4>
                    <p></p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="S'abonner">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Best Body Travel</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">

            <a href={{ facebook }} class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href={{ instagram }} class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
            {# <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> #}
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ asset('assets/js/main.js') }}"></script>
</html>